<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ingresa a tu Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="login()">
    <ion-grid>
      <div id="container2">
          <h3>Ingresa a tu Cuenta</h3>
        </div>
      <ion-row >
        
        <ion-col>
          
          <div padding>
            <ion-item>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input name="email" type="email" placeholder="tu@email.com"
                [(ngModel)]="credenciales.correo" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input name="password" type="password" placeholder="Contraseña"
                [(ngModel)]="credenciales.contrasenia" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" expand="block" type="submit" >
              Acceder
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div id="container">
    <p style="color: white; font-size: large; display: inline-block; margin: 0;">
      ¿No te has registrado aún?
    </p>
    <div class="button-container">
      <ion-button  routerLink="/registro">
        Registrarse
      </ion-button>
    </div>
  </div>
  </form>
  
</ion-content>